@{
    ViewBag.Title = "History";
}

<div class="container manage">
    <div class="row">
        <div class="col-lg-12">

            @Html.Partial("_ProfileNavigationPartial")

            <div class="col-lg-12">
                <h1 class="page-title manage__title">History</h1>
            </div>

            <div class="manage__information manage__item">
            </div>

        </div>
    </div>
</div>