/**
 * STYLE CONTENT
 *
 *
 * GENERIC
 * Normalize.css..............level the playing field.
 *
 * SETTINGS
 * Global variables...........SCSS variables such as colors and fonts.
 * Base styles................Element level styling.
 *
 * TOOLS
 * Mixins.....................useful mixins.
 * Helper classes.............Bring styling back to html!
 * Grid system................for defining the layout.
 *
 * COMPONENTS
 * 
 * Brand......................generates the site logo.
 * Navigation.................navigation styles.
 * Footer.....................footer styles.
 * Searchbar..................styles for the searchbar.
 * Offer......................styles for the product box.
 * Sidebar....................styles for the sidebar.
 * Form.......................form styles.
 * List.......................styles for vertical and horizontal lists.
 * Cart.......................cart styles.
 * Modal......................modal styles.
 *
 * PAGES
 *
 * Contact....................styles for contact page.
 * About......................styles for about page.
 * Delivery...................styles for delivery page.
 * Profile pages..............styles for pages related to profile management.
 */
/*====================================*    #GENERIC
\*====================================*/
/* #Normalize */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*====================================*    #SETTINGS
\*====================================*/
/* #Global variables */
@font-face {
  font-family: 'Building';
  src: url("fonts/BUILD.ttf") format("truetype"); }

@font-face {
  font-family: 'Republica';
  src: url("fonts/REPUBLICA.ttf") format("truetype"); }

/* #Base styles */
body {
  position: relative;
  color: #333;
  font-family: "Lato";
  background-color: #EEE; }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Francois One";
  text-transform: uppercase; }

h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #333;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 5px solid #E52A31; }

h2 {
  color: #333;
  font-size: 1.15rem;
  text-transform: uppercase; }

h3 {
  color: #E52A31;
  font-size: 2rem;
  margin-bottom: 15px; }

h4 {
  margin: 10px 0;
  color: #E52A31;
  font-size: 1.15rem; }

/*====================================*    #TOOLS
\*====================================*/
/* #Mixins */
.row, .footer, .offer__link-box {
  *zoom: 1; }
  .row:before, .footer:before, .offer__link-box:before, .row:after, .footer:after, .offer__link-box:after {
    content: " ";
    display: table; }
  .row:after, .footer:after, .offer__link-box:after {
    clear: both; }

/* #Grid system */
.container {
  padding: 0 20px;
  margin: 0 auto; }

.row {
  margin: 0 -20px; }
  .row > div {
    width: 100%;
    float: left;
    padding: 0 20px; }

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media screen and (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px; } }

.fluid-container {
  width: 100%;
  padding: 0 20px; }

@media screen and (max-width: 768px -1) {
  .col-xs-1 {
    width: 8.33333% !important; }
  .col-xs-2 {
    width: 16.66667% !important; }
  .col-xs-3 {
    width: 25% !important; }
  .col-xs-4 {
    width: 33.33333% !important; }
  .col-xs-5 {
    width: 41.66667% !important; }
  .col-xs-6 {
    width: 50% !important; }
  .col-xs-7 {
    width: 58.33333% !important; }
  .col-xs-8 {
    width: 66.66667% !important; }
  .col-xs-9 {
    width: 75% !important; }
  .col-xs-10 {
    width: 83.33333% !important; }
  .col-xs-11 {
    width: 91.66667% !important; }
  .col-xs-12 {
    width: 100% !important; } }

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333% !important; }
  .col-sm-2 {
    width: 16.66667% !important; }
  .col-sm-3 {
    width: 25% !important; }
  .col-sm-4 {
    width: 33.33333% !important; }
  .col-sm-5 {
    width: 41.66667% !important; }
  .col-sm-6 {
    width: 50% !important; }
  .col-sm-7 {
    width: 58.33333% !important; }
  .col-sm-8 {
    width: 66.66667% !important; }
  .col-sm-9 {
    width: 75% !important; }
  .col-sm-10 {
    width: 83.33333% !important; }
  .col-sm-11 {
    width: 91.66667% !important; }
  .col-sm-12 {
    width: 100% !important; } }

@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333% !important; }
  .col-md-2 {
    width: 16.66667% !important; }
  .col-md-3 {
    width: 25% !important; }
  .col-md-4 {
    width: 33.33333% !important; }
  .col-md-5 {
    width: 41.66667% !important; }
  .col-md-6 {
    width: 50% !important; }
  .col-md-7 {
    width: 58.33333% !important; }
  .col-md-8 {
    width: 66.66667% !important; }
  .col-md-9 {
    width: 75% !important; }
  .col-md-10 {
    width: 83.33333% !important; }
  .col-md-11 {
    width: 91.66667% !important; }
  .col-md-12 {
    width: 100% !important; } }

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333% !important; }
  .col-lg-2 {
    width: 16.66667% !important; }
  .col-lg-3 {
    width: 25% !important; }
  .col-lg-4 {
    width: 33.33333% !important; }
  .col-lg-5 {
    width: 41.66667% !important; }
  .col-lg-6 {
    width: 50% !important; }
  .col-lg-7 {
    width: 58.33333% !important; }
  .col-lg-8 {
    width: 66.66667% !important; }
  .col-lg-9 {
    width: 75% !important; }
  .col-lg-10 {
    width: 83.33333% !important; }
  .col-lg-11 {
    width: 91.66667% !important; }
  .col-lg-12 {
    width: 100% !important; } }

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .hidden-mobile {
    display: none !important; } }

/* #Helper classes */
.btn {
  display: inline-block;
  color: white;
  font-family: "Francois One";
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #971217;
  cursor: pointer; }

.link {
  padding-bottom: 3px;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 3px solid #E52A31;
  cursor: pointer; }
  .link:active {
    color: white; }

.link--alternate {
  color: white; }

.box, .manage .manage__item {
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26); }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.content {
  padding: 150px 0;
  min-height: 100vh; }

.extra {
  margin-right: 100px; }

.dispaly-inline-block {
  display: inline-block; }

/*====================================*    #COMPONENTS
\*====================================*/
/* #Brand */
.brand {
  height: 50px;
  padding: 10px; }

.brand--absolute {
  position: absolute;
  top: 0;
  left: 0; }

.brand--center {
  text-align: center; }

.brand--large {
  height: 70px; }
  .brand--large .brand__link {
    height: 50px; }
  .brand--large .brand__logo {
    min-height: 50px; }
  .brand--large .brand__text {
    font-size: 50px; }

.brand__link {
  display: inline-block;
  height: 30px; }

.brand__link--default {
  text-decoration: none;
  color: #E52A31; }
  .brand__link--default :active {
    color: #E52A31; }

.brand__link--alternate {
  text-decoration: none;
  color: white; }
  .brand__link--alternate :active {
    color: white; }

.brand__logo {
  max-height: 30px; }

.brand__text {
  display: none;
  font-family: "Building";
  font-size: 30px;
  vertical-align: top;
  padding-left: 5px; }

@media screen and (min-width: 768px) {
  .brand__text {
    display: inline-block; } }

/* #Navigation */
.navigation {
  position: fixed;
  width: 100%;
  background-color: #EEE; }
  .navigation .navigation__top {
    position: relative;
    height: 50px; }
  .navigation .navigation__bottom {
    height: 50px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26); }
  .navigation .navigation__bottom--default {
    background-color: #E52A31; }

/* #Footer */
.footer {
  color: white;
  padding: 15px;
  background-color: #E52A31;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26); }

/* #Searchbar */
.searchbar {
  padding: 10px;
  padding-left: 50px;
  min-width: 100%; }
  .searchbar:after {
    display: table;
    content: '';
    clear: both; }
  @media screen and (min-width: 768px) {
    .searchbar {
      padding-left: 110px; } }
  @media screen and (min-width: 1200px) {
    .searchbar {
      display: inline-block;
      min-width: 700px; } }

.searchbar__form {
  position: relative;
  width: 100%; }

.searchbar__field-wrapper {
  width: 100%;
  padding-right: 100px; }

.searchbar__field {
  display: inline-block;
  float: left;
  width: 100%;
  height: 30px; }

.searchbar__field--default {
  border: 1px solid #971217;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.searchbar__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 30px; }

.searchbar__submit--default {
  padding: 5px 15px;
  color: white;
  background-color: #971217;
  border: 1px solid #971217;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* #Offer */
.offer {
  padding: 10px;
  margin: 0 auto 40px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26); }
  .offer:after {
    content: '';
    display: table;
    clear: both; }

.offer__id {
  display: none; }

.offer__title {
  margin-bottom: 10px; }

.offer__media {
  max-width: 100%; }

.offer__description {
  padding: 5px 0 20px; }

.offer__price {
  padding-bottom: 20px;
  font-family: "Republica";
  font-size: 2rem;
  letter-spacing: 2px; }

.offer__discounted {
  font-size: 1.25rem;
  text-decoration: line-through; }

.offer__discount {
  font-family: "Republica";
  font-size: 2rem;
  color: #E52A31;
  letter-spacing: 2px; }

.offer__price-currency {
  font-size: 50%;
  letter-spacing: 0; }

.offer__link-box {
  margin-top: 20px; }

.offer__about {
  margin-top: 16px;
  display: block; }

.offer__cart {
  padding: 10px 20px; }

/* #Sidebar */
.sidebar-item, .contact .contact__content, .delivery .delivery__content {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #E52A31;
  border-radius: 5px; }
  .sidebar-item p, .contact .contact__content p, .delivery .delivery__content p {
    margin-bottom: 10px; }

/* #Form */
.form__group {
  margin-bottom: 30px; }

.form__label, .form__field, .form__validation {
  margin-bottom: 10px; }

.form__label {
  display: inline-block; }

.form__label--strong, form__validation--strong {
  font-size: 1.25rem;
  font-weight: 700; }

.form__label--weak, form__validation--weak {
  font-size: .9rem;
  font-weight: 300; }

.form__field {
  display: block;
  max-width: 400px;
  width: 100%; }

.form__field--default, .form__field--checkbox, .form__field--select, .form__field--submit {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #971217; }

.form__field--checkbox {
  display: inline-block;
  width: 20px; }

.form__field--select {
  display: inline-block;
  width: 50px;
  margin-left: 5px; }

.form__field--submit {
  width: 150px;
  margin-top: 10px;
  padding: 10px 20px; }

.form__validation {
  display: block; }

.form__validation--default {
  color: #E52A31;
  font-style: italic; }

/* #List */
.list {
  padding: 0; }

.list__item {
  line-height: 30px;
  padding: 10px; }

.list__item--horizontal {
  display: inline-block;
  text-align: center; }

/* #Cart */
.m-cart {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #E52A31;
  border: 2px solid #EEE;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer; }

.m-cart__img {
  width: 70px;
  padding: 15px; }

.m-cart__count {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #E52A31;
  border: 2px solid #EEE;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #EEE;
  font-family: "Francois One";
  font-weight: 700; }

/* #Modal */
body {
  position: relative; }

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  background-color: white; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block; }

.modal__close {
  color: #E52A31;
  font-weight: 700;
  text-align: right;
  cursor: pointer; }

.modal__confirm {
  display: block;
  padding: 10px 20px; }

#cart_modal__id {
  display: none; }

#cart_modal__product_name {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 30px; }

/*====================================*    #PAGES
\*====================================*/
/* #About */
.about .about__title {
  margin-bottom: 0; }

.about .about__img {
  width: 100%;
  border-bottom: 5px solid #E52A31; }

.about .about__content h2 {
  margin-bottom: 10px; }

.about .about__content p {
  margin-bottom: 20px;
  font-style: italic; }

/* #Contact */
.contact .contact__content {
  border: none; }

/* #Delivery */
.delivery .delivery__content {
  border: none; }

/* #Profile */
.manage .manage__navigation form {
  display: none; }

.manage .manage__navigation li {
  display: inline-block;
  margin: 0 5px; }

.manage .manage__navigation .link {
  display: inline-block; }

.manage .manage__information h4 {
  font-size: 1.5rem; }

.manage .manage__information p {
  margin: 5px 0 25px; }

.manage .manage__information .btn {
  padding: 10px 20px; }

