<div class="row">
    <div class="col-lg-12">
        <div class="sidebar-item">
            <h3>Customer support</h3>
            <p class="contact__phone">Phone: 10 10 10 10</p>
            <p class="contact__email">E-mail: contact@bygnu.dk</p>
            <h3>Open hours</h3>
            <h4>Monday - Firday</h4>
            <p>9:00 - 19:00</p>
            <h4>Saturday & Sunday</h4>
            <p>12:00 - 15:00</p>
            @Html.ActionLink("Read more", "Contact", "Home", new { @class = "link" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="sidebar-item">
            <h3>Order Delivery</h3>
            <p>Order's purchased on our website are delivered every work day between 10:00 and 18:00.</p>
            <p>Standard delivery rate is 129 DDK.</p>
            <p>Delivery of order with a total value greater than 500 DKK is free of charge.</p>
            @Html.ActionLink("Read more", "Delivery", "Home", new { @class = "link" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="sidebar-item">
            <h3>About bygnu</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            @Html.ActionLink("Read more", "About", "Home", new { @class = "link" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="brand brand--center">
            <a class="brand__link brand__link--default" href="@Url.Action("Index", "Home")">
                <img class="brand__logo" src="~/Content/img/brand.png" />
                <p class="brand__text">BYGNU</p>
            </a>
        </div>
    </div>
</div>
