@{
    ViewBag.Title = "Delivery";
}

<div class="container delivery">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title delivery__title">Order Delivery</h1>
        </div>
        <div class="col-lg-12">
            <div class="delivery__content box">
                <p>Order's purchased on our website are delivered every work day between 10:00 and 18:00.</p>
                <p>Standard delivery rate is 129 DDK.</p>
                <p>Delivery of order with a total value greater than 500 DKK is free of charge.</p>
            </div>
        </div>
    </div>
</div>